@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Main.cshtml";
}
 <!-- Page Header -->
<div class="page-header">
    <div class="pull-left">
        <ol class="breadcrumb visible-sm visible-md visible-lg">
            <li><a href="index.html"><i class="icon fa fa-home"></i>Create</a></li>
        </ol>
    </div>
    <div class="pull-right">
        <h2>Create</h2>
    </div>
</div>
<!-- End Page Header -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default bk-bg-white">
        <div class="panel-heading bk-bg-white">
            <h6><i class="fa fa-indent red"></i>Maintenance Material Infomation</h6>
            <div class="panel-actions">
                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            1
            <br />
            1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br />
        </div>
    </div>
    <div class="panel panel-default bk-bg-white">
        <div class="panel-heading bk-bg-white">
            <h6><i class="fa fa-indent red"></i>Maintenance Material Infomation2</h6>
            <div class="panel-actions">
                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body">
            2
            <br />
            2<br /> 21<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br /> 1<br />
        </div>
    </div>
</div>
