@{
    ViewBag.Title = "CodeAdd";
}
@using Common
<form id="code-form" class="form-horizontal" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Code Add</h6>
        </div>
        <input type="hidden" id="id" />
        <div class="panel-body">
            <div class="form-group">
                <label for="category" class="col-md-3 control-label">Category<span class="required">*</span></label>
                <div class="col-md-5">
                    <select id="category" name="category" class="form-control" size="1"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="codeOrder">Code No.</label>
                <div class="col-sm-5">
                    <input type="number" id="codeOrder" name="codeOrder" class="form-control" placeholder=" " min="0">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="Code">Code Name<span class="required">*</span> </label>
                <div class="col-sm-5">
                    <input type="text" id="code" name="code" class="form-control" placeholder="" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn btn-primary" id="addCodeBtn">Submmit</button>
                    <button type="reset" id="ResetCodeBtn" class="bk-margin-right-5 btn btn-default">Reset</button>
                    <button class="btn btn-default modal-dismiss" id="cancelCodeBtn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
<input type="hidden" id="categoryUrl" value="@Url.Action("GetCategoryList","Code" ,new { isNeedDefalut = false })" />
<script src="@Url.Content("~/Content/Code/CodeAdd.js")?v=@CommonHelper.JsVision()"></script>
