@{
    ViewBag.Title = "CodeDelete";
}
<input type="hidden" id="categoryDel" /> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Code Delete</h6>
            <h6 style="float:right"><i class="fa fa-times"></i></h6> 
        </div> 
        <div class="panel-body">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="codeDeleteTable"> 
            </table>
        </div>
    </div>
 
