@{
    ViewBag.Title = "JurisdictionRolePackageIndex";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@using Common
<div class="page-header">
    <div class="pull-left">
        <ol class="breadcrumb visible-sm visible-md visible-lg">
            <li><a href="#"><i class="icon fa fa-cogs"></i>Setting</a></li>
            <li><a href="#">Access</a></li>
        </ol>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default bk-bg-white">
        <div class="panel-heading bk-bg-white">
            <h6><i class="fa fa-indent red"></i>Access Infomation</h6>
            <div class="panel-actions">
                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                      @*<a href="#" class="btn-closeiniframe"><i class="fa fa-times"></i></a>*@
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group"></div>
            <div class="form-group">
                <div class="col-xs-6">
                    <span class="help-block" style="display:inline;width:25%;">Name</span>
                    <input type="text" id="txtName" name="text-input" class="form-control" placeholder="Access Name" style="display:inline;width:75%">
                </div>
                <div class="col-xs-6" style="text-align:right;padding-right:0px">
                    <a href="#modalForm" class="bk-margin-left-5 btn btn-success btn-sm hidden" id="editJurisdiction"><i class="fa fa-plus"></i> Add</a>
                    <button type="button" class="bk-margin-left-5 btn btn-primary btn-sm" id="btnsearch"><i class="fa fa-search"></i> Search</button>
                </div>
                <div class="col-xs-12" style="height:10px;"></div>
            </div>
            <div id="dataResult" class="table-responsive form-group"></div>
        </div>
    </div>
</div>
<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        @Html.Action("JurisdictionRolePackageEdit")
    </div>
</div>
@Html.RenderJs("/Content/assets/plugins/magnific-popup/js/magnific-popup.js", "/Content/assets/js/pages/ui-modals.js", "/Content/assets/plugins/jquery-validation/js/jquery.validate.js")
@Html.RenderJs("/Content/assets/plugins/select2/js/select2.full.min.js", "/Content/assets/plugins/select2/select2.js")
<script src="~/Content/Jurisdiction/JurisdictionRoleGroup.js?v=@CommonHelper.JsVision()"></script>
<script language="javascript">
    PageInit();
</script>
