<div class="col-md-12" style="padding-bottom:10px;">
    <button class="bk-margin-right-5 btn btn-info hidden" id="addwhyanalysis1">Add <i class="fa fa-plus"></i></button>
</div>

<div class="col-md-12" style="padding-bottom:10px;">
    <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-editable-whyanalysis1" role="grid" aria-describedby="datatable-editable_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">2X5 why Form</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">5Why question chain</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 15%;">1st Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">2nd Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">3rd Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">4th Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis1" rowspan="1" colspan="1" style="width: 20%;">5th Why?</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 15%">Edit</th>
            </tr>
        </thead>
        <tbody id="whyanalysisbody1"></tbody>
    </table>
</div>
<div class="col-md-12" style="padding-bottom:10px;">
    <button class="bk-margin-right-5 btn btn-info hidden" id="addwhyanalysis2">Add <i class="fa fa-plus"></i></button>
</div>
<div class="col-md-12" style="padding-bottom:10px;">
    <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-editable-whyanalysis2" role="grid" aria-describedby="datatable-editable_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">2X5 why Form</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">5Why question chain</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 15%;">1st Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">2nd Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">3rd Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">4th Why?</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-whyanalysis2" rowspan="1" colspan="1" style="width: 20%;">5th Why?</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 15%">Edit</th>
            </tr>
        </thead>
        <tbody id="whyanalysisbody2"></tbody>
    </table>
</div>
<form id="problem-rootcause" class="form-horizontal" novalidate="novalidate">
    <div class="col-md-12" style="padding-bottom:10px;">

        <label class="col-md-1 control-label" for="problemrootcause">Root Cause</label>
        <div class="col-md-11">
            <textarea id="problemrootcause" name="problemrootcause" rows="9" class="form-control" placeholder="Content.." required></textarea>
        </div>

    </div>
    <label class="col-md-1 control-label" for="problemassign">Assign</label>
    <div class="col-md-11">
        <select id="problemassign" name="problemassign" class="form-control width140" size="1"></select>
        <input id="problemassigenhidden" type="hidden" />
    </div>
    <div class="col-md-12 line">
    </div>
</form>
<div class="col-md-12" style="padding-bottom:10px;">
    <button class="bk-margin-right-5 btn btn-info hidden" id="submitRootCause">Submit</button>
    <button class="bk-margin-right-5 btn btn-dark hidden" id="editRootCause">Edit</button>
    <button class="bk-margin-right-5 btn btn-success hidden" id="approveWhyanalysis">Approve</button>
    <button class="bk-margin-right-5 btn btn-warning hidden" id="rejectWhyanalysis">Reject</button>
</div>

<div id="dialog-whyanalysis1" class="modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <h4>Primary</h4>
                    <p>Are you sure that you want to delete this record?</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm-whyanalysis1" class="btn btn-primary modal-confirm">Confirm</button>
                    <button id="dialogCancel-whyanalysis1" class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog-whyanalysis2" class="modal-block modal-block-primary mfp-hide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </div>
        <div class="panel-body bk-noradius">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <h4>Primary</h4>
                    <p>Are you sure that you want to delete this record?</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm-whyanalysis2" class="btn btn-primary modal-confirm">Confirm</button>
                    <button id="dialogCancel-whyanalysis2" class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
