<div class="panel panel-default">
    <div class="panel-heading">
        <h6><i class="fa fa-file-text bk-fg-warning"></i>Time Tracking</h6>
        <div class="panel-actions">
            <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
            @*<a href="#" class="btn-close"><i class="fa fa-times"></i></a>*@
        </div>
    </div>
    <div class="panel-body">
        <br />
        <div class="form-group">
            <div class="timeline col-md-6">
                <div id="logList">

                </div>
            </div>
        </div> 
    </div>
</div>
