
<div class="col-md-12" style="padding-bottom:10px;">
    <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-editable-sortingactivity" role="grid" aria-describedby="datatable-editable_info">
        <thead>
            <tr role="row">
                <th class="sorting_disabled" tabindex="0" aria-controls="datatable-editable-sortingactivity" rowspan="1" colspan="1" style="width: 50%;">Value Stream</th>
                <th class="sorting_disabled" tabindex="0" aria-controls="datatable-editable-sortingactivity" rowspan="1" colspan="1" style="width: 12%;">Defect Qty</th>
                <th class="sorting_disabled" tabindex="0" aria-controls="datatable-editable-sortingactivity" rowspan="1" colspan="1" style="width: 12%;">Sorted Qty</th>
                <th class="sorting_disabled" tabindex="0" aria-controls="datatable-editable-sortingactivity" rowspan="1" colspan="1" style="width: 16%;">Dead Line</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 10%">Edit</th>
            </tr>
        </thead>
        <tbody id="sortingactivitybody">
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="1">Results of Sorting in Custormer Plant</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="2">Results of Sorting in Transport</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="3">Results of Sorting in Company(FG+WIP+Comp.)</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="4">Results of Sorting in Supplier plant</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="5">Results of Sorting in after-sales stocks</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="valuestream"><label class="control-label" data-id="0" data-no="6">Total Sorted</label></td>
                <td></td>
                <td></td>
                <td class="deadline"></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12" style="padding-bottom:10px;">
    <button type="button" class="bk-margin-right-5 btn btn-success hidden" id="approveSortingactivity">Approve</button>
    <button type="button" class="bk-margin-right-5 btn btn-warning hidden" id="rejectSortingactivity">Reject</button>
</div>

