<div class="col-md-12" style="padding-bottom:10px;">
    <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-editable-standardization" role="grid" aria-describedby="datatable-editable_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Item Name</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Need Update?Y/N</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 15%;">Who</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Plan Date</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Actual Date</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Doc No</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Changing Content</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Old Version</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">New Version</th>
                <th class="sorting" tabindex="0" aria-controls="datatable-editable-standardization" rowspan="1" colspan="1" style="width: 20%;">Attachment</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 15%">Edit</th>
            </tr>
        </thead>
        <tbody id="standardizationbody">
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="1">D/P-FMEA</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="2">Control Plan</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="3">Work instruction</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="4">Package WI</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="5">Maintenance plan</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="6">Prevent Error Checking Records</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            <tr class="gradeA odd" role="row">
                <td class="itemname"><label class="control-label" data-id="0" data-no="7">Visaul Inspection WI</label></td>
                <td class="needupdate"></td>
                <td></td>
                <td class="plandate"></td>
                <td class="actualdate"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions">
                    <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                    <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                    <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12" style="padding-bottom:10px;">

</div>

<label class="col-md-4 control-label">Extend to similar processes or porjects:</label>
<div class="col-md-8">
    <div class="radio-custom radio-inline">
        <input type="radio" id="extendporjectsY" name="extendporjects-radios" value="1">
        <label for="extendporjectsY"> Yes</label>
    </div>
    <div class="radio-custom radio-inline">
        <input type="radio" id="extendporjectsN" name="extendporjects-radios" value="0" checked>
        <label for="extendporjectsN"> No</label>
    </div>
</div>
<div id="extendporjectsTab" class="col-md-12 hidden">
    <div class="col-md-12" style="padding-bottom:10px;">
        <form id="problem-extendporjects" class="form-horizontal" novalidate="novalidate">
            <label class="col-md-12" for="problemrootcause">Final evaluation over the LESSON LEARNED CARD （40D）: </label>
            <div class="col-md-12" style="padding-bottom:10px;">
                <textarea id="problemextendcomment" name="problemextendcomment" rows="9" class="form-control" placeholder="Comments.." required></textarea>
            </div>
            <div class="col-md-12" style="padding-bottom:10px;">
                <textarea id="problemextendapprovecomment" name="problemextendapprovecomment" rows="9" class="form-control" placeholder="Approve Comment"></textarea>
            </div>
        </form>
    </div>
    <div class="col-md-12" style="padding-bottom:10px;">
        <button class="bk-margin-right-5 btn btn-info hidden" id="submitExtendporjects">Submit</button>
        <button class="bk-margin-right-5 btn btn-dark hidden" id="editExtendporjects">Edit</button>
    </div>
</div>
<div class="col-md-12" style="padding-bottom:10px;">
    <button type="button" class="bk-margin-right-5 btn btn-success hidden" id="approveStandardization">Approve</button>
    <button type="button" class="bk-margin-right-5 btn btn-warning hidden" id="rejectStandardization">Reject</button>
</div>
