<div class="panel panel-default"> 
    <div class="form-group"  >
        <div class="col-xs-4">
            <label class="col-md-4 help-block">ToolNo</label>
            <div class="col-md-8 col">
                <input type="text" id="toolNo" name="toolNo" class="form-control" placeholder="ToolNo">
            </div>
        </div>
        <div class="col-xs-4">
            <label class="col-md-4 help-block">ProductName</label>
            <div class="col-md-8 col">
                <input type="text" id="productName" name="productName" class="form-control" placeholder="ProductName">
            </div>
        </div>
        <div class="col-xs-4" style="padding-right:0px">
            <label class="col-md-4 help-block">ToolSupplier</label>
            <div class="col-md-8 col" style="padding-right:0px">
                <input type="text" id="toolSupplier" name="toolSupplier" class="form-control" placeholder="ToolSupplier">
            </div>
        </div> 
        <div class="col-xs-12" style="height:10px;"></div>
    </div>  
    <div class="form-group">
        <div class="col-xs-4"> 
        </div>
        <div class="col-xs-8" style="text-align:right;padding-right:0px">
            <button type="button" class="bk-margin-left-5 btn btn-primary btn-sm" id="machineToolSearch"><i class="fa fa-search"></i> Search</button>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm" href="#machineToolForm" id="addMachineTool"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="bk-margin-left-5 btn btn-warning btn-sm" href="#importMachineModal" id="importMachineTool"><i class="fa fa-paperclip"></i> Import</button>
            <button type="button" class="bk-margin-left-5 btn btn-danger btn-sm" id="exportMachineTool"><i class="fa fa-mail-forward"></i> Export</button>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm hidden" href="#machineToolForm" id="editMachineTool"><i class="fa fa-plus"></i> Edit</button>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
    </div>
    <div class="form-group" id="machineToolResult"></div> 
</div>
