<div class="panel panel-default">
    <div class="form-group">
        <div class="col-xs-3">
            <label class="col-md-4 help-block">MachineName</label>
            <div class=" col-md-8 col">
                <input type="text" id="MachineName1" name="text-input" class="form-control" placeholder="MachineName">
            </div>
        </div>
        <div class="col-xs-3">
            <label class=" col-md-4 help-block">EquipmentNo.</label>
            <div class=" col-md-8 col">
                <input type="text" id="EquipmentNo1" name="text-input" class="form-control" placeholder="EquipmentNo.">
            </div>
        </div>
        <div class="col-xs-3">
            <label class=" col-md-4 help-block">Type</label>
            <div class=" col-md-8 col">
                <input type="text" id="Type1" name="text-input" class="form-control" placeholder="Type">
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:0px">
            <label class=" col-md-4 help-block">FixtureNo.</label>
            <div class=" col-md-8 col">
                <input type="text" id="FixtureNo1" name="text-input" class="form-control" placeholder="FixtureNo.">
            </div>
        </div>
        <div class="col-xs-12" style="height:10px;"> </div>
    </div> 
    <div class="form-group">
        <div class="col-xs-4"> 
        </div>
        <div class="col-xs-8" style="text-align:right;padding-right:0px">
            <button type="button" class="bk-margin-left-5 btn btn-primary btn-sm" id="machineSearch1"><i class="fa fa-search"></i> Search</button>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm" href="#machineModalForm" id="addMachine1"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="bk-margin-left-5 btn btn-warning btn-sm" href="#importMachineModal" id="importMachine1"><i class="fa fa-paperclip"></i> Import</button>
            <button type="button" class="bk-margin-left-5 btn btn-danger btn-sm" id="exportMachine1"><i class="fa fa-mail-forward"></i> Export</button>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm hidden" href="#machineModalForm" id="editMachine1"><i class="fa fa-plus"></i> Edit</button>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
    </div>
    <div class="form-group" id="machineResult1"></div>

</div>

