 
<div class="panel panel-default bk-bg-white">
    <div class="form-group">
        <div class="col-xs-3">
            <label class="col-md-4 help-block">Order No</label>
            <div class=" col-md-8 col">
                <input type="text" id="WorkOrderName1" name="text-input" class="form-control" placeholder="Order No">
            </div>
        </div>
        <div class="col-xs-3">
            <label class=" col-md-4 help-block">Sap No.</label>
            <div class=" col-md-8 col">
                <input type="text" id="SapNo1" name="text-input" class="form-control" placeholder="Sap No.">
            </div>
        </div>
        <div class="col-xs-12"></div>
    </div>
    <div class="form-group">
        <div class="col-xs-6"></div>
        <div class="col-xs-6" style="text-align:right;padding-right:0px">
            <button type="button" class="bk-margin-left-5 btn btn-primary btn-sm" id="material1SearchBtn"><i class="fa fa-search"></i> Search</button>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm" href="#workOrderModalForm" id="material1AddBtn"><i class="fa fa-plus"></i> Add</button>
            <button type="button" class="bk-margin-left-5 btn btn-warning btn-sm" href="#importWorkOrderModal" id="material1ImportBtn"><i class="fa fa-paperclip"></i> Import</button>
            <a class="bk-margin-left-5 btn btn-danger btn-sm" id="material1ExportBtn"><i class="fa fa-mail-forward"></i> Export</a>
            <button type="button" class="bk-margin-left-5 btn btn-success btn-sm hidden" href="#workOrderModalForm" id="material1EditBtn"><i class="fa fa-plus"></i> Edit</button>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
    </div>
    <div class="form-group" id="material1Result"></div>
</div>
