<form id="materialtool-form" class="form-horizontal" novalidate="novalidate" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6><i class="fa fa-check-circle-o bk-fg-warning"></i>Material Tool</h6>
        </div>
        <input type="hidden" id="id" />
        <div class="panel-body">
            <label class="col-md-2 control-label">SapPN</label>
            <div class="col-md-4">
                <input type="text" id="sapPN" name="sapPN" class="form-control" >
            </div>
            <label class="col-md-2 control-label">SapQuantity</label>
            <div class="col-md-4">
                <input type="text" id="sapQuantity" name="sapQuantity" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">SapLibrary</label>
            <div class="col-md-4">
                <input type="text" id="sapLibrary" name="sapLibrary" class="form-control">
            </div>
            <label class="col-md-2 control-label">ToolNo<span class="required">*</span></label>
            <div class="col-md-4">
                <input type="text" id="toolNo" name="toolNo" class="form-control" required>
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">ProductName</label>
            <div class="col-md-4">
                <input type="text" id="productName" name="productName" class="form-control">
            </div>
            <label class="col-md-2 control-label">Status</label>
            <div class="col-md-4">
                <input type="text" id="status" name="status" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">ToolLibrary</label>
            <div class="col-md-4">
                <input type="text" id="toolLibrary" name="toolLibrary" class="form-control">
            </div>
            <label class="col-md-2 control-label">OutlineDimension</label>
            <div class="col-md-4">
                <input type="text" id="outlineDimension" name="outlineDimension" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">Quality(KG)</label>
            <div class="col-md-4">
                <input type="text" id="quality" name="quality" class="form-control">
            </div>
            <label class="col-md-2 control-label">CustomerPN</label>
            <div class="col-md-4">
                <input type="text" id="customerPN" name="customerPN" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">SapProductName</label>
            <div class="col-md-4">
                <input type="text" id="sapProductName" name="sapProductName" class="form-control">
            </div>
            <label class="col-md-2 control-label">Belong</label>
            <div class="col-md-4">
                <input type="text" id="belong" name="belong" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">CustomerNo</label>
            <div class="col-md-4">
                <input type="text" id="customerNo" name="customerNo" class="form-control">
            </div>
            <label class="col-md-2 control-label">ToolSupplier</label>
            <div class="col-md-4">
                <input type="text" id="toolSupplier" name="toolSupplier" class="form-control">
            </div>
            <div class="col-md-12 line">
            </div>
            <label class="col-md-2 control-label">ToolSupplierNo</label>
            <div class="col-md-4">
                <input type="text" id="toolSupplierNo" name="toolSupplierNo" class="form-control">
            </div>
            <label class="col-md-2 control-label">ProductDate</label>
            <div class="col-md-4">
                <input type="text" id="productDate" name="productDate" class="form-control">
            </div> 
            <div class="col-md-12 line"></div>
            <label class="col-md-2 control-label">Cavity</label>
            <div class="col-md-4">
                <input type="text" id="cavity" name="cavity" class="form-control">
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-12 line">
            </div>
            <div class="col-md-12 line">
                <div class="col-md-4">
                </div>
                <div class="col-sm-8" style="text-align:right;padding-right:0px">
                    <button class="bk-margin-right-5 btn btn-info" id="materialTool">Submit</button>
                    <button type="reset" id="materialToolReset" class="bk-margin-right-5 btn btn-default">Reset</button>
                    <button type="button" class="bk-margin-right-5 btn btn-info" id="materialToolCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
